@font-face {
  font-family: Fira-Sans-Regular;
  src: url("/font/fira-sans-v10-latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-regular.woff2");
}
/* Reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira-Sans-Regular;
  height: 100%;
  background-color: #ffba33;
}
.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-side {
  opacity: 0;
  transition: opacity 1s;
}
.inner-form {
    width: 213px;
    height: 205px;
    background-color: #E1D9D1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4%;
}
.inner-form-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-form-top {
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.inner-form-top-already {
    font-size: 14px;
    text-decoration: none;
}
.inner-form-top-help {
    font-size: 14px;
    text-decoration: none;
}
.inner-form-bot-button {
    width: 188px;
    height: 36px;
    color: #F5F5F5;
    background-color: #1A535C;
    border-radius: 4%;
}
.outer-form-account {
    color: #F5F5F5;
}
.outer-form-missing {
    color: #1A535C;
}
.inner-form-bot-input {
     background-color: #DCD6D0;
}