@font-face {
  font-family: Fira-Sans-Regular;
  src: url("/font/fira-sans-v10-latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-regular.woff2");
}
/* Reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira-Sans-Regular;
  position: relative;
  height: 100vh;
  background-color: #467d7d;
}
.hidden {
  display: none;
}